.home {
  .hero {
    position: relative;
    height: 100vh;
    background-image: url('../../../public/verse-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }

  .content {
    position: absolute;
    top: 40%;
    left: 50px;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    color: white;
    text-align: left;
    width: 100%;
    max-width: 800px;
  }

  .social-icons {
    margin: 0 15px; // Increase margin to accommodate larger icons
    display: inline-flex; // Align icons nicely
    align-items: center; // Center icons vertically
  }

  a {
    color: white; // Ensures links are visible against the dark background
    margin: 0 10px; // Spacing between icons
    transition: color 0.3s ease-in-out; // Smooth transition for hover effect

    &:hover {
      color: #00aff0; // Highlight color when hovered
    }
  }
  
  h1 {
    font-size: clamp(2rem, 5vw, 3rem); // Responsive font size using clamp
    margin-bottom: 20px;
  }

  h2 {
    font-size: clamp(1.5rem, 3vw, 2rem); // Smaller and responsive
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    max-width: 800px; // Limits the maximum width
    height: auto; // Height adjusts proportionally
    aspect-ratio: 16 / 9; // Maintain aspect ratio for the iframe
  }

  @media (max-width: 768px) {
    .hero {
      height: auto; // Adjusts height to fit content
    }
    .content {
      left: 10px; // Adjust left padding/margin on smaller screens
      font-size: 90%;
    }
  }
}
