.App {
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px 0; // Adds vertical padding to the entire app container
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// Additional padding for each section inside the main app
// These styles target direct children of the main element if they need more specific spacing
main > * {
  margin-bottom: 30px; // Adds a bottom margin to all direct children of <main>
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
